<!doctype html>
<html>
<head>
  <title>Repoman in the House</title>
  <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/vendor/jquery-1.7.2.min.js"></script>
  <script src="/javascripts/vendor/underscore-min.js"></script>
  <script src="/javascripts/vendor/backbone-min.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
<div id="container">
  <div class="commit-history">
    <div class="top-bar">
      <h2>Commit History</h2>
    </div>
    <div class="commit-info">
      <h3>Message: Commit message</h3>
      <h4>Author: Brett Goulder</h4>
      <p>Sha: 19829u1lu1lkh1kj1hkjh1kj1h1</p>
    </div>
  </div>
  <div class="controls">
    <a class="button reverse" href="javascript:void(42)">Move Back</a>
    <a class="button " href="javascript:void(42)">Move Forward</a>
  </div>
  <div class="code-info">
    <div class="bubble">
      <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td class="line_number">1</td>
          <td width="100%" class="code">
            <pre>Foobar 1 2 322   2221 111111</pre>
          </td>
        </tr>
        <tr>
          <td class="line_number">1</td>
          <td width="100%" class="code">
            <pre>Foobar 1 2 322   2221 111111</pre>
          </td>
        </tr>
        <tr>
          <td class="line_number">1</td>
          <td width="100%" class="code">
            <pre>Foobar 1 2 322   2221 111111</pre>
          </td>
        </tr>
        <tr>
          <td class="line_number">1</td>
          <td width="100%" class="code">
            <pre>Foobar 1 2 322   2221 111111</pre>
          </td>
        </tr>
        <tr>
          <td class="line_number">1232</td>
          <td width="100%" class="code">
            <pre>Foobar 1 2 322   2221 111111</pre>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</body>
</html>