<!doctype html>
<html>
<head>
  <title>Repoman in the House</title>
  <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/javascripts/vendor/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/handlebars-1.0.0.js"></script>
  <script type="text/javascript" src="/javascripts/diffplayback.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</head>

<body>
<script type="text/x-handlebars-template" id="commit-template">
<div class="commit-info">
  <p><strong>Message:</strong> {{ info.message }}</p>
  <p><strong>Author:</strong> {{ info.author.name }}</p>
  <p><strong>Sha:</strong> {{ info.id }}</p>
</div>
</script>

<script type="text/x-handlebars-template" id="row-template">
  {{#each file}}
    <tr>
      <td class="line_number">1</td>
      <td width="100%" class="code">
        <pre>{{this}}</pre>
      </td>
    </tr>
  {{/each}}
</script>

<div id="container">
  <div id="sidebar">
    <div class="controls">
      <input type="range" class="slider" step="1" min="0" value="0" >
    </div>
    <div class="commit-history">
      <div class="info">
      </div>
    </div>
  </div>
  <div id="code">
    <div class="bubble">
      <table cellpadding="0" cellspacing="0">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>
</body>
</html>
