<!doctype html>
<html>
  <head>
    <title>Repoman in the House</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/vendor/jquery-1.7.2.min.js"></script>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
