<!doctype html>
<html>
  <head>
    <title>Repoman in the House</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/vendor/jquery-1.7.2.min.js"></script>
    <script src="/javascripts/vendor/underscore-min.js"></script>
    <script src="/javascripts/vendor/backbone-min.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <div id="container">

    </div>

    <script type="text/javascript">
      $(function() {
        router = new RepoRouter();  
        Backbone.history.start({pushState: true})
      }); 
    </script>

  </body>
</html>
